/*
** EPITECH PROJECT, 2025
** G4-FREE-PROJECTS-BeninTaleMap
** File description:
** App
*/

.theme-light {
    --bg-color: #ffffff;
    --text-color: #111111;
}

.theme-dark {
    --bg-color: #1e1e1e;
    --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
